.holder {
   width: 1000px;
   margin: auto;
   border: 3px solid black;
   border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
}

.item:nth-child(1) {
order:1;
flex-grow: 2;
background-color: red;
}

.item:nth-child(2) {
order: 4;
flex-basis: 294px;
background-color: blue;
}

.item:nth-child(3) {
order: 3;
flex-basis: 293px;
background-color: blueviolet;
}

.item:nth-child(4) {
order: 5;
flex-basis: 293px;
background-color: green;
}

.item:nth-child(5) {
order: 2;
flex-grow: 2;
background-color: orange;
}

.item{
    flex-basis: 350px;
    padding: 20px;
   
}